﻿@model IEnumerable<WebApplication1.Models.Employee>

@{
    ViewBag.Title = WebApplication1.Resources.Resource.employee;
} 
<h4> @WebApplication1.Resources.Resource.employee</h4>

<div style="padding:5px">

    @{
        foreach (var i in WebApplication1.LanguageMang.AvailableLanguages)
        {
            @Html.ActionLink(i.LanguageFullName, "ChangeLanguage", "Employees", new { lang = i.LanguageCultureName, url="Index" }, null) <text> </text>
        }
    }
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @WebApplication1.Resources.Resource.name
            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @WebApplication1.Resources.Resource.position
            @Html.ActionLink("Position", "Index", new { sortOrder = ViewBag.PositionSortParm })
        </th>
        <th>
            @WebApplication1.Resources.Resource.office

            @Html.ActionLink("Office", "Index", new { sortOrder = ViewBag.OfficeSortParm })
        </th>
        <th>
            @WebApplication1.Resources.Resource.age
            @Html.ActionLink("Age", "Index", new { sortOrder = ViewBag.AgeSortParm })
        </th>
        <th>
            @WebApplication1.Resources.Resource.salary
            @Html.ActionLink("Salary", "Index", new { sortOrder = ViewBag.SalarySortParm })
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.office)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.salary)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
